@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-roboto: var(--font-family-roboto);
  --font-baloo: var(--font-family-baloo);
  --color-base-button: var(--base-button);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

:root {
  --radius: 0.65rem;
  --primary: oklch(0.7669 0.1448 86.85);
  --primary-foreground: oklch(0.6532 0.1355 69.83);
  --secondary: oklch(0.5691 0.2454 291.3);
  --secondary-foreground: oklch(0.3929 0.1654 291.27);
  --muted: oklch(0.9321 0.0429 95.51);
  --muted-foreground: oklch(0.9325 0.0275 299.54);
  --background: oklch(0.9851 0 89.88);
  --border: oklch(0.92 0.004 286.32);
  --font-family-roboto: 'Roboto', 'sans-serif';
  --font-family-baloo: 'Baloo 2', 'sans-serif';

  --card: oklch(0.9619 0.0011 17.18);
  --card-foreground: oklch(0.4347 0.0112 34.3);
  --base-button: #E6E5E5;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .container-center {
    @apply max-w-5xl mx-auto;
  }
}
